$corPrincipal: #eee;
$corSecundaria: #111;

/* No sass é possivel criar variáveis, fazendo com que o código fique mais limpo e organizado e
que seja possível alterar facilmente as cores do site, por exemplo. */

body {
    background-color: $corPrincipal;
}

header {
    background-color: $corPrincipal;
/* também é possivel criar um seletor dentro de outro seletor, o que impede ter que criar várias regras para alterar itens especificos
permite que altere dentro de um seletor principal */
    h1 {
        color: $corSecundaria;
    }
}

button {
    padding: 16px;
    background-color: $corSecundaria;
    color: $corPrincipal;

    /* é possivel criar um pseudo elemento no sass, como o hover, 
    que altera a cor do botão quando o mouse passa por cima usando o &: */

    &:hover {
        background-color: yellow;
    }
}
